In [2]:
import re
import pandas as pd

### write char files

In [207]:
df_marki = pd.read_excel('text_df.xlsx',
                           dtype={'purchase_number': object})

In [208]:
df_tabs = pd.read_excel('text_df_all_tables.xlsx',
                           dtype={'purchase_number': object})

In [222]:
df_vals = pd.read_excel('text_df_got_values.xlsx',
                           dtype={'purchase_number': object})

In [210]:
df_text = pd.read_excel('text_df_text_only.xlsx',
                           dtype={'purchase_number': object})

In [220]:
df_original =  pd.read_excel('compare.xlsx',
                           dtype={'purchase_number': object}, index_col='index_name')
df_original = df_original.loc[df_vals.index,:]

In [221]:
[df_vals.shape, df_tabs.shape, df_text.shape, df_marki.shape, df_original.shape]

[(4434, 26), (4434, 27), (4434, 27), (4434, 27), (4434, 25)]

In [223]:
df_original.index = df_text.index

In [228]:
df_vals.iloc[:,12:-3].shape

(4434, 12)

In [305]:
df_char = pd.concat([df_vals.iloc[:,12:14], df_tabs.iloc[:,12:14], df_text.iloc[:,12:14], df_marki.iloc[:,12:14],  df_original.iloc[:,11:13]], axis=1)

In [306]:
# df_marki.iloc[:,12:14]
# df_original.iloc[:,11:13]

       marka    model
0        uaz  patriot
1        NaN      NaN
2        NaN      NaN
3     toyota  corolla
4        NaN      NaN
...      ...      ...
4429     NaN      NaN
4430     vaz   granta
4431     NaN      NaN
4432     kia  sorento
4433     NaN      NaN

[4434 rows x 2 columns]

In [321]:
df_char = df_char.set_index(df_vals['index_name'].values)

In [322]:
df_char.columns = ['marka', 'model', 'marka_tabs', 'model_tabs', 'marka_text', 'model_text', 'marka_mar',
       'model_mar', 'marka_orig', 'model_orig']

In [323]:
df_char.to_excel('charachteristics/char_2.xlsx')

In [286]:
for numnum in range(3,13):
    num = 11+numnum
    df_char = pd.concat([df_vals.iloc[:,num], df_tabs.iloc[:,num], df_text.iloc[:,num],  df_original.iloc[:,num-1]], axis=1)

    df_char = df_char.set_index(df_vals['index_name'].values)

    inns = ['', '_tabs', '_text', '_orig']
    df_char.columns = [df_char.columns.values[0] + i for i in inns]

    # df_char

    df_char.to_excel('charachteristics/char_'+str(numnum)+'.xlsx')

In [234]:
numnum = 12
num = 11+numnum
df_char = pd.concat([df_vals.iloc[:,num], df_tabs.iloc[:,num], df_text.iloc[:,num],  df_original.iloc[:,num]], axis=1)

###  marki

In [324]:
df_mar = pd.read_csv('marki_un.csv')

In [325]:
# pd.DataFrame([df_mar['marka'].unique(), df_mar['model'].unique()]).T.to_csv('marki_un.csv')

In [326]:
df_mar = df_mar.fillna('bmw')

In [327]:
df_char2 = pd.read_excel('charachteristics/char_2.xlsx', index_col=0)

In [328]:
df_char2 = df_char2.fillna('')

In [329]:
df_char2.iloc[i,2:8]

marka_tabs    3.1. Состав Единой комиссии по осуществлению з...
model_tabs    а) согласие участника такого аукциона на поста...
marka_text    09T00:00:00+03:00на поставку легкового автомоб...
model_text                      Марка (модель) ______________
marka_mar
model_mar
Name: 25595, dtype: object

In [330]:
for i in range(df_char2.shape[0]):
    for j in df_mar['marka'].unique():
        if (j in '\n '.join(df_char2.iloc[i,2:8].values).lower()):
                df_char2.iloc[i,0] = df_char2.iloc[i,0] + j + ' '
#                 df_char2.iloc[i,1:] = ''

In [331]:

for i in range(df_char2.shape[0]):
    for j in df_mar['model'].unique():
        if (j in '\n '.join(df_char2.iloc[i,2:8].values).lower()):
                df_char2.iloc[i,1] = df_char2.iloc[i,1] + j + ' '
#                 df_char2.iloc[i,1:] = ''

In [332]:
for i in range(df_char2.shape[0]):
    
    if ('микроавтобус' in '\n '.join(df_char2.iloc[i,2:8].values)) or ('Микроавтобус' in '\n '.join(df_char2.iloc[i,2:6].values)):
            df_char2.iloc[i,0] = 'delete'
#             df_char2.iloc[i,1:] = ''

    if ('ГАЗель' in '\n '.join(df_char2.iloc[i,2:8].values)):
            df_char2.iloc[i,0] = 'delete'
#             df_char2.iloc[i,1:] = ''


#     if ('ГАЗ' in '\n '.join(df_char2.iloc[i,2:6].values)):
#             df_char2.iloc[i,0] = 'delete'
#             df_char2.iloc[i,1:] = 'газ'
            
    if ('поставку автомобильных запчастей' in '\n '.join(df_char2.iloc[i,2:8].values)):
            df_char2.iloc[i,0] = 'delete'
#             df_char2.iloc[i,1:] = 'газ'
            
#     ['запчаст',  'легков', 'грузов'], ['модел', 'марк']

In [333]:
# df_char2 = df_char2[df_char2.iloc[:,0]!='автобус']
# df_char2

In [334]:
df_char2.to_excel('charachteristics/char_2.xlsx')

### God Vipuska

In [336]:
df_char2 = pd.read_excel('charachteristics/char_3.xlsx', index_col=0)

In [337]:
df_char2 = df_char2.fillna('')

In [345]:
# df_char2.iloc[:,1:3]

In [383]:
for i in range(df_char2.shape[0]):
    for j in range(2000,2020):
#     for j in range(2016,2017):

#         if ('ранее'+str(j)  in ' '.join(df_char2.iloc[i,1:3].values).lower()):
#                 df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
#                 df_char2.iloc[i,1:] = ''

        if ('выпуска'+str(j)  in ' '.join(df_char2.iloc[i,1:3].values).lower()):
                df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
                df_char2.iloc[i,1:] = ''


#         if (('ранее' in ' '.join(df_char2.iloc[i,1:3].values).lower()) and  (str(j) in ' '.join(df_char2.iloc[i,1:3].values).lower())):
#                 df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
#                 df_char2.iloc[i,1:] = ''



                
#         if ('позднее'+str(j)  in ' '.join(df_char2.iloc[i,1:3].values).lower()):
#                 df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
#                 df_char2.iloc[i,1:] = ''
                
#         if ('выпуска'+str(j)  in ' '.join(df_char2.iloc[i,1:3].values).lower()):
#             df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
#             df_char2.iloc[i,1:] = ''            

#         if ('изготовления'+str(j)  in ' '.join(df_char2.iloc[i,1:3].values).lower()):
#             df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
#             df_char2.iloc[i,1:] = ''            

#         if (str(j)+'годаизготовления'  in ' '.join(df_char2.iloc[i,1:3].values).lower()):
#             df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
#             df_char2.iloc[i,1:] = ''            

            
#         if ('без пробега '+str(j)  in ' '.join(df_char2.iloc[i,1:3].values).lower()):
#             df_char2.iloc[i,0] = df_char2.iloc[i,0] + str(j) + ' '
#             df_char2.iloc[i,1:] = ''

In [384]:
df_char2.to_excel('charachteristics/char_31.xlsx')

In [ ]:
for s in range(df_char2.shape[0]):
    for i in range(1,3):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

### transmissia

In [68]:
df_char2 = pd.read_excel('charachteristics/char_4.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [70]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [86]:
for i in range(df_char2.shape[0]):
#     if ('вариатор'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'вариатор'
#         df_char2.iloc[i,1:] = ''
#     if ('гидромех'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'гидромеханическая'
#         df_char2.iloc[i,1:] = ''
#     if ('робот'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'робот'
#         df_char2.iloc[i,1:] = ''
#     if ('электрическ'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'электрическая'
#         df_char2.iloc[i,1:] = ''
#     if ('мех'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'мкпп'
#         df_char2.iloc[i,1:] = ''
#     if ('автомат'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'акпп'
#         df_char2.iloc[i,1:] = ''
#     if ('мкп'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'мкпп'
#         df_char2.iloc[i,1:] = ''
#     if ('акп'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'акпп'
#         df_char2.iloc[i,1:] = ''
#     if ('ручн'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'мкпп'
#         df_char2.iloc[i,1:] = ''

    sss = ' '.join(df_char2.iloc[i,2: 4].values)

    if (('мкп' in sss) or ('мт' in sss)):
        df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
        df_char2.iloc[i,1:] = ''
    if (('акп' in sss) or ('ат' in sss)):
        df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
        df_char2.iloc[i,1:] = ''

### privod

In [116]:
df_char2 = pd.read_excel('charachteristics/char_5.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [117]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [120]:
for i in range(df_char2.shape[0]):
#     if ('жестко'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'постоянный задний, с жестко подключаемым передним'
#         df_char2.iloc[i,1:] = ''
#     if ('постоянныйполный'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'постоянный полный'
#         df_char2.iloc[i,1:] = ''
#     if ('постоянныйнавсе'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'постоянный полный'
#         df_char2.iloc[i,1:] = ''
#     if ('подключаем'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'подключаемый полный'
#         df_char2.iloc[i,1:] = ''

#     if ('задн'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'задний'
#         df_char2.iloc[i,1:] = ''
#     if ('передн'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'передний'
#         df_char2.iloc[i,1:] = ''
#     if ('полн'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'полный'
#         df_char2.iloc[i,1:] = ''

    if ('4x2'  in ' '.join(df_char2.iloc[i,2:4].values)):
        df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'задний'
        df_char2.iloc[i,1:] = ''
#     if ('4х4'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'полный'
#         df_char2.iloc[i,1:] = ''

#     if ('двухзонный'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'двухзонный'
#         df_char2.iloc[i,1:] = ''
#     if ('комбинированный'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'комбинированный'
#         df_char2.iloc[i,1:] = ''
#     if ('гидрав'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'гидравлический'
#         df_char2.iloc[i,1:] = ''
#     if ('гидро'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'гидравлический'
#         df_char2.iloc[i,1:] = ''
#     if ('тросов'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'тросовый'
#         df_char2.iloc[i,1:] = ''

    if ('электро'  in ' '.join(df_char2.iloc[i,2:4].values)) and ('зеркал'  in ' '.join(df_char2.iloc[i,2:4].values)):
        df_char2.iloc[i,0] = df_char2.iloc[i,0] + ''
        df_char2.iloc[i,1:-1] = ''


#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [121]:
df_char2.to_excel('charachteristics/char_51.xlsx')

### width

In [193]:
df_char2 = pd.read_excel('charachteristics/char_61.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [153]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [194]:
# df_char2

In [195]:
for i in range(df_char2.shape[0]):
    sss = ' '.join(df_char2.iloc[i,2:4].values)
#     if ('неменее' in sss) and not('длина' in sss):
#         df_char2.iloc[i,1] = sss.split('неменее')[1][:4]
#     if ('безбоковыхзеркал' in sss) and not('длина' in sss):
#         df_char2.iloc[i,1] = sss.split('безбоковыхзеркал')[1][:4]

#     if ('ширинаммот' in sss) and not('длина' in sss):
#         df_char2.iloc[i,1] = sss.split('ширинаммот')[1][:4]
#     if ('автобус' in sss):
#         df_char2.iloc[i,1] = df_char2.iloc[i,0] + 'delete'
#     if ('длина' in sss):
#         df_char2.iloc[i,1] = 'дл'

    if ('ирина' in sss) :
        df_char2.iloc[i,1] = sss.split('ирина')[1][:4]

    
#     if ('жестко'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'постоянный задний, с жестко подключаемым передним'
#         df_char2.iloc[i,1:] = ''
#     if ('постоянныйполный'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'постоянный полный'
#         df_char2.iloc[i,1:] = ''
#     if ('постоянныйнавсе'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'постоянный полный'
#         df_char2.iloc[i,1:] = ''
#     if ('подключаем'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'подключаемый полный'
#         df_char2.iloc[i,1:] = ''

#     if ('задн'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'задний'
#         df_char2.iloc[i,1:] = ''
#     if ('передн'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'передний'
#         df_char2.iloc[i,1:] = ''
#     if ('полн'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'полный'
#         df_char2.iloc[i,1:] = ''

#     if ('4x2'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'задний'
#         df_char2.iloc[i,1:] = ''
#     if ('4х4'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'полный'
#         df_char2.iloc[i,1:] = ''

#     if ('двухзонный'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'двухзонный'
#         df_char2.iloc[i,1:] = ''
#     if ('комбинированный'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'комбинированный'
#         df_char2.iloc[i,1:] = ''
#     if ('гидрав'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'гидравлический'
#         df_char2.iloc[i,1:] = ''
#     if ('гидро'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'гидравлический'
#         df_char2.iloc[i,1:] = ''
#     if ('тросов'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'тросовый'
#         df_char2.iloc[i,1:] = ''

#     if ('электро'  in ' '.join(df_char2.iloc[i,2:4].values)) and ('зеркал'  in ' '.join(df_char2.iloc[i,2:4].values)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + ''
#         df_char2.iloc[i,1:-1] = ''


#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [196]:
df_char2.to_excel('charachteristics/char_61.xlsx')

### length

In [217]:
df_char2 = pd.read_excel('charachteristics/char_71.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [198]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [211]:
# df_char2

In [218]:
for i in range(df_char2.shape[0]):
    sss = ' '.join(df_char2.iloc[i,2:4].values)
#     if ('ширина' in sss):
#         df_char2.iloc[i,1] = 'шир'
#     if ('автобус' in sss):
#         df_char2.iloc[i,1] = df_char2.iloc[i,0] + 'delete'
#     if ('линаот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаот')[1][:4]
#     if ('линаммот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаммот')[1][:4]

    if ('лина' in sss):
        df_char2.iloc[i,1] = sss.split('лина')[1][:4]
#     if ('ирина' in sss) :
#         df_char2.iloc[i,1] = sss.split('ирина')[1][:4]

    
#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [219]:
df_char2.to_excel('charachteristics/char_71.xlsx')

### mass

In [252]:
df_char2 = pd.read_excel('charachteristics/char_81.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [253]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [243]:
# df_char2

In [250]:
for i in range(df_char2.shape[0]):
    sss = ' '.join(df_char2.iloc[i,2:4].values)
#     if ('ширина' in sss):
#         df_char2.iloc[i,1] = 'шир'
#     if ('автобус' in sss):
#         df_char2.iloc[i,1] = df_char2.iloc[i,0] + 'delete'
#     if ('линаот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаот')[1][:4]
#     if ('линаммот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаммот')[1][:4]

    if ('наряженнаянеменее' in sss):
        df_char2.iloc[i,1] = sss.split('наряженнаянеменее')[1][:4]
#     if ('ирина' in sss) :
#         df_char2.iloc[i,1] = sss.split('ирина')[1][:4]

    
#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [254]:
df_char2.to_excel('charachteristics/char_81.xlsx')

### mass

In [272]:
df_char2 = pd.read_excel('charachteristics/char_91.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [253]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [265]:
# df_char2

In [273]:
for i in range(df_char2.shape[0]):
    sss = ' '.join(df_char2.iloc[i,2:4].values)
#     if ('ширина' in sss):
#         df_char2.iloc[i,1] = 'шир'
#     if ('автобус' in sss):
#         df_char2.iloc[i,1] = df_char2.iloc[i,0] + 'delete'
#     if ('линаот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаот')[1][:4]
#     if ('линаммот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаммот')[1][:4]

    if ('ъемдвигателя' in sss):
        df_char2.iloc[i,1] = sss.split('ъемдвигателя')[1][:4]
#     if ('ирина' in sss) :
#         df_char2.iloc[i,1] = sss.split('ирина')[1][:4]

    
#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [274]:
df_char2.to_excel('charachteristics/char_91.xlsx')

### speed

In [288]:
df_char2 = pd.read_excel('charachteristics/char_101.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [283]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [284]:
# df_char2

In [292]:
for i in range(df_char2.shape[0]):
    sss = ' '.join(df_char2.iloc[i,2:4].values)
#     if ('ширина' in sss):
#         df_char2.iloc[i,1] = 'шир'
#     if ('автобус' in sss):
#         df_char2.iloc[i,1] = df_char2.iloc[i,0] + 'delete'
#     if ('линаот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаот')[1][:4]
#     if ('линаммот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаммот')[1][:4]

    if ('неболее' in sss):
        df_char2.iloc[i,1] = sss.split('неболее')[1][:3]
#     if ('ирина' in sss) :
#         df_char2.iloc[i,1] = sss.split('ирина')[1][:4]

    
#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [293]:
df_char2.to_excel('charachteristics/char_101.xlsx')

### mosch

In [430]:
df_char2 = pd.read_excel('charachteristics/char_101.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [297]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [308]:
# df_char2

In [431]:
for i in range(df_char2.shape[0]):
    sss = ' '.join(df_char2.iloc[i,2:4].values)
#     if ('квт' in sss):
#         df_char2.iloc[i,1] = 'квт'
# #     if ('автобус' in sss):
#         df_char2.iloc[i,1] = df_char2.iloc[i,0] + 'delete'
#     if ('линаот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаот')[1][:4]
#     if ('линаммот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаммот')[1][:4]

#     if ('ощностьлснеменее' in sss):
#         df_char2.iloc[i,1] = sss.split('ощностьлснеменее')[1][:2]

    if ('неменее' in sss):
        df_char2.iloc[i,1] = sss.split('неменее')[1][:2]
#     if ('ощностьлсквтобминнеменее' in sss):
#         df_char2.iloc[i,1] = sss.split('ощностьлсквтобминнеменее')[1][:2]

#     if ('лс' in sss):
#         df_char2.iloc[i,1] = sss.split('лс')[0][-2:]
        
        
    
#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [432]:
df_char2.to_excel('charachteristics/char_101.xlsx')

### potr

In [380]:
df_char2 = pd.read_excel('charachteristics/char_102.xlsx', index_col=0)
df_char2 = df_char2.fillna('')

In [357]:
for s in range(df_char2.shape[0]):
    for i in range(2,4):
        sss = df_char2.iloc[s,i]
        sss = sss.lower()
        sss = re.sub('[^0-9а-яА-Я]+', '', sss)
        df_char2.iloc[s,i] = sss

In [362]:
# df_char2

In [381]:
for i in range(df_char2.shape[0]):
    sss = ' '.join(df_char2.iloc[i,2:4].values)
#     if ('ширина' in sss):
#         df_char2.iloc[i,1] = 'шир'
#     if ('автобус' in sss):
#         df_char2.iloc[i,1] = df_char2.iloc[i,0] + 'delete'
#     if ('линаот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаот')[1][:4]
#     if ('линаммот' in sss):
#         df_char2.iloc[i,1] = sss.split('линаммот')[1][:4]

#     if ('ощностьлснеменее' in sss):
#         df_char2.iloc[i,1] = sss.split('ощностьлснеменее')[1][:2]

    if ('ородскойцикл' in sss):
        df_char2.iloc[i,1] = sss.split('ородскойцикл')[1][:2]
#     if ('ощностьлсквтобминнеменее' in sss):
#         df_char2.iloc[i,1] = sss.split('ощностьлсквтобминнеменее')[1][:2]

#     if ('не' in sss):
#         df_char2.iloc[i,1] = sss.split('лс')[0][-2:]
        
        
    
#     sss = ' '.join(df_char2.iloc[i,2: 4].values)

#     if (('мкп' in sss) or ('мт' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'МКПП'
#         df_char2.iloc[i,1:] = ''
#     if (('акп' in sss) or ('ат' in sss)):
#         df_char2.iloc[i,0] = df_char2.iloc[i,0] + 'АКПП'
#         df_char2.iloc[i,1:] = ''

In [382]:
df_char2.to_excel('charachteristics/char_102.xlsx')

### other stuff

In [1484]:
for s in range(df_text_2.shape[0]):
    for i in range(4,5):
        sss = df_text_2.iloc[s,15+i]
        
        
#         sss = sss.split('линаширинавысотаммнеменее')[-1][:4]
#         sss = sss.split('выпуска')[-1][:4]
        sss = re.sub('[^0-9]+', '', sss)
        
    
        if len(sss) > 0:
            if int(sss[:4])<1900:
                df_text_2.iloc[s,15+i] = ''
        

#         if len(sss) != 4:
#             df_text_2.iloc[s,15+i] = ''

In [927]:
# электрообогрев

In [913]:
for s in range(df_text_2.shape[0]):
    for i in range(2,3):
        sss = df_text_2.iloc[s,15+i]
#         sss = sss.replace('привод', '')
        sss = re.sub('[^а-я]+', '', sss)
        df_text_2.iloc[s,15+i] = sss

In [850]:
sss = 'df.igfdjарыоыloc[17,17]'
re.sub('[^а-я]+', '', sss)

'арыоы'

In [761]:
# for s in range(df_text_2.shape[0]):
#     for i in range(1,2):
#         sss = df_text_2.iloc[s,15+i]
#         if not(('вариатор' in sss) or ('МКПП' in sss) or ('АКПП' in sss) or ('робот' in sss) or ('гидро' in sss)):
#             df_text_2.iloc[s,15+i] = ''

In [1419]:
df_text_2.to_excel('ttt.xlsx')

In [29]:
for k in range(len(document.tables)):
    table = document.tables[k]
    data = read_table(table)
    data = data.fillna('')


    for s in range(data.shape[0]):
        for i in range(len(keywords)):
            for j in range(len(keywords[i])):
                if any(data.iloc[s,:].str.contains(keywords[i][j])):
                    dstr = ' '.join(data.iloc[s,:].values)
                    df_text.iloc[l,14+i] = df_text.iloc[l,14+i] + dstr + '; '

In [1563]:
df_text_2.to_excel('ttt.xlsx')

In [2007]:
df_text_2 = pd.read_excel('clean_goszak_df.xlsx',  dtype={'purchase_number':object})

In [106]:
import pandas as pd
import re

In [107]:
df_docx = pd.read_excel('docx_final_df_2017.xlsx')

In [108]:
df_csv = pd.read_csv('0_check_selen.csv', index_col=0)

In [109]:
df_csv = df_csv.loc[df_docx['index_name'],]

In [110]:
df_docx = df_docx.set_index('index_name')

In [111]:
df_csv['V2'] = [i.replace('\n', '') for i in df_csv['V2'].values]

In [88]:
df_csv['V2'] = [re.split('Поставк', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('поставк', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('Покупк', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('Приобретение', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('Автомобил', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('Легков', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('Средства', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('Закупка', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('Внедорожн', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('приобретение', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('закупк', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('легков', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('покупк', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('автомобил', i)[-1] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('транспортные средства', i)[-1] for i in df_csv['V2'].values]

In [49]:
df_csv['V2'] = [re.split('Идентификационный код', i)[0] for i in df_csv['V2'].values]
df_csv['V2'] = [re.split('для', i)[0] for i in df_csv['V2'].values]

In [45]:
df_csv['V2'] = [i.replace('\n', '') for i in df_csv['V2'].values]

In [ ]:
df_csv['V2'] = [i.replace('\n', '') for i in df_csv['V2'].values]

In [89]:
df_csv['V2'].values[np.array([len(i) for i in df_csv['V2'].values]) > 1000]

array([], dtype=object)

In [94]:
df_docx['v2'] =  df_csv['V2']

In [95]:
df_docx.to_csv('check_name1.csv')

In [207]:
# [text, down1]
marka  =  []
model  =  []

# text, name, right1, right2, right3 
year =  []
korobka =  []
privod =  []
width =  []
length =  []
mass =  []
volume =  []
speed =  []
power =  []
potrebl =  []

In [232]:
text_arr = []

In [246]:
text_arr.append('NA')

In [247]:
text_arr

['NA', 'NA']

In [258]:

text_arr = []

In [261]:
# df_text

In [ ]:
all_tstore = {}
for l in range(df_text.shape[0]):
    if l%%250 == 0:
        print(l)
    fpath = '/media/xenakas/ext4_drive/data_goszak/2_data_goszak_renamed/' + df_text.iloc[l,-1]
    try:
        document = Document(fpath)
        
        tstore = 'NA'
        
        year = korobka  = privod = width = length = mass = volume = speed = power = potrebl =  'NA
        
        k = 0
        while (k <= len(document.paragraphs)-1) and ((year == 'NA' ) or (korobka == 'NA' ) 
                                                     or (privod == 'NA' ) 
                                                     or (width == 'NA' ) or (length == 'NA' ) 
                                                     or (mass == 'NA' ) or (volume == 'NA' ) 
                                                     or (speed == 'NA' ) or (power == 'NA' ) 
                                                     or (potrebl == 'NA' )):
            tata = document.paragraphs[k].text
            
            val = ('Год выпуска' in tata) or ('год выпуска' in tata) or ('Года выпуска' in tata) or ('года выпуска' in tata)
            if val:
                year = tata 
                
            val = ('Коробка' in tata) or ('коробка' in tata) or ('трансмисс' in tata) or ('Трансмисс' in tata)
            if val:
                korobka = tata 
            
            val = ('Привод' in tata) or ('привод' in tata) 
            if val:
                privod = tata 
                
            val = ('Ширина' in tata) or ('ширина' in tata) 
            if val:
                width = tata 

            val = ('Длина' in tata) or ('длина' in tata)  
            if val:
                length = tata 
                
            val = ('Масса' in tata) or ('масса' in tata)
            if val:
                mass = tata 

            val = ('Объем' in tata) or ('объем' in tata) or ('объём' in tata) or ('Объём' in tata)
            if val:
                volume = tata 
                
            val = ('скорость' in tata) or ('Скорость' in tata) 
            if val:
                speed = tata 
 
            val = ('Мощность' in tata) or ('мощность' in tata) 
            if val:
                power = tata 
                
            val = ('Потребление' in tata) or ('потребление' in tata) 
            if val:
                potrebl = tata       
            
            k += 1
#         text_arr
#         text_arr = text_arr.append(tstore)
    except:
        print(l)
#         tstore = 'NAN'
#         text_arr
#         text_arr = text_arr.append('problem')
    all_tstore[l]  = tstore
#     text_arr = text_arr.append(tstore)

327
330
334
336
341
342
353
359
360
364
395
398
401
402
404
424
449
450
451
453
522
523
527
530
568
570
1076
1746
2558
2565
2566
2768
3160
3162
3254
3262
3403

In [270]:
l=2
fpath = '/media/xenakas/ext4_drive/data_goszak/2_data_goszak_renamed/' + df_text.iloc[l,-1]
document = Document(fpath)
tstore = 'NA'
k = 0
while (k <= len(document.paragraphs)-1) and (tstore == 'NA' ):
    tata = document.paragraphs[k].text
    val = ('Год выпуска' in tata) or ('год выпуска' in tata) or ('Года выпуска' in tata) or ('года выпуска' in tata)
    if val:
        tstore = tata 
    k += 1
#         text_arr
#         text_arr = text_arr.append(tstore)

In [271]:
document.paragraphs[0].text

'Извещение о проведении электронного аукциона'

In [213]:
tata = document.paragraphs[5].text

In [215]:
'Кам' in tata

True

In [212]:
# document.paragraphs[0].text

In [ ]:
year =  []
for l in range(df_text.iloc[:10, :].shape[0]):
    fpath = '/media/xenakas/ext4_drive/data_goszak/2_data_goszak_renamed/' + df_text.iloc[l,-1]
    try:
        document = Document(fpath)
        tab_list_meh = {}
        print(l)
        
        year_arr = []
        
           
        
        
        for k in range(len(document.tables)):
            table = document.tables[k]
            try:
                data = read_table(table)
                val = any([
                    data.iloc[:, j].str.contains('Год выпуска').any()
                    or data.iloc[:, j].str.contains('год выпуска').any()
                    or data.iloc[:, j].str.contains('Года выпуска').any()
                    or data.iloc[:, j].str.contains('года выпуска').any()                    
                    for j in range(data.shape[1])
                ])
                
#                 cols = data.columns.values                
#                 val2 =  ('Год выпуска' in cols) or ('ГОД ВЫПУСКА' in cols) 
                if val:
                    tab_list_meh[k] = data
            except:
                year.append(['nothing', 'nothing','nothing','nothing','nothing' ])               
                print("An exception occurred")

    #         keys = None
    #         for i, row in enumerate(table.rows):
    #             text = (cell.text for cell in row.cells)
    #             if i == 0:
    #                 keys = tuple(text)
    #                 continue
    #             row_data = dict(zip(keys, text))
    #             data.append(row_data)

    #         data = pd.DataFrame(data)

        all_tabs[l] = tab_list_meh
    except:
        print("An exception occurred")

In [ ]:
fpath = '/media/xenakas/ext4_drive/data_goszak/2_data_goszak_renamed/' + df_text.iloc[0,-1]
document = Document(fpath)
tab_list_meh = {}
# print(l)
for k in range(len(document.tables)):
    table = document.tables[k]
    try:
        data = read_table(table)
#         val = any([
#             data.iloc[:, j].str.contains('Наименование предмета закупки').any()
#             or data.iloc[:, j].str.contains('Предмет контракта').any()
#             for j in range(data.shape[1])
#         ])

#         if val:
        tab_list_meh[k] = data
    except:
        print(l)

In [154]:
all_tabs = {}
for l in range(df_text.iloc[:10, :].shape[0]):
    fpath = '/media/xenakas/ext4_drive/data_goszak/2_data_goszak_renamed/' + df_text.iloc[l,-1]
    try:
        document = Document(fpath)
        tab_list_meh = {}
        print(l)
        for k in range(len(document.tables)):
            table = document.tables[k]
            try:
                data = read_table(table)
                val = any([
                    data.iloc[:, j].str.contains('Год выпуска').any()
                    or data.iloc[:, j].str.contains('год выпуска').any()
                    for j in range(data.shape[1])
                ])
                
                cols = data.columns.values
                
                val2 =  ('Год выпуска' in cols) or ('ГОД ВЫПУСКА' in cols) 


                if val or val2:
                    tab_list_meh[k] = data

            except:
                print("An exception occurred")

    #         keys = None
    #         for i, row in enumerate(table.rows):
    #             text = (cell.text for cell in row.cells)
    #             if i == 0:
    #                 keys = tuple(text)
    #                 continue
    #             row_data = dict(zip(keys, text))
    #             data.append(row_data)

    #         data = pd.DataFrame(data)

        all_tabs[l] = tab_list_meh
    except:
        print("An exception occurred")

0
1
2
3
4
5
6
7
8
9

In [2158]:
final_df = pd.read_excel('clean_goszak_df.xlsx',
                           dtype={'purchase_number': object})

In [2161]:
final_2017

,index_name,all_indexes,purchase_number,price,real_price,auction,numb_bidders,kolichestvo_avto_v_zakupke,org_address,date,...,privod,width,length,mass_snar,vol_dvigatelya,max_speed,moschnost_lps,potreb_gorod,filename,filetype
0,3,3,0372200026816000053,607902.33,607902.33,1,1,1,NaN,NaN,...,передний,1733,4346,1545,NaN,172,90,9.8,1ba23d353bf63fb0a234f2b6a9d14e1037f4a60148f3f5...,docx
1,5,"5, 25",0832200006616001265,999833.33,999833.32,1,1,1,NaN,NaN,...,задний,NaN,NaN,NaN,NaN,NaN,NaN,NaN,024c72855e2fba691b939d0086663ad1443796412de9f3...,docx
2,6,6,0146300031216000008,685000.00,684000.00,1,1,1,NaN,NaN,...,передний,1800,4056,NaN,1700,NaN,80,14.1,ca66aceb8b70fb06cf8baf7a97d241f4840f2d595544e4...,docx
3,8,"8, 36",0328300015616000270,383900.00,383900.00,1,2,1,NaN,NaN,...,передний,1700,4260,1160,NaN,165,87,not_stated,f4a04f18a5305d9b15eb45bae4532fdaa9f4360660e24e...,docx
4,12,12,0845300015016000715,998456.00,998456.00,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,1998,NaN,NaN,NaN,da80d318cb1666e928232bc3833f0aff402d841c732486...,docx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1262,"1262, 1277, 1336",0169300037017000001,1263313.34,1200147.64,1,2,2,NaN,NaN,...,полный подключаемый,NaN,NaN,NaN,NaN,127,NaN,NaN,54dd6eb2af07c9c6e0db10cd5153b61a8acb78ebd93610...,docx
471,1419,"1419, 1623, 1630, 1972",0166300003217000032,1133000.00,1110340.00,1,2,1,NaN,NaN,...,NaN,1900,4780,NaN,NaN,150,NaN,NaN,690a0c9d4c67b88c659ecfca8214c179b20bbfb6301089...,docx
472,1500,"1500, 1811",0151300032417000001,1000000.00,1000000.00,1,1,1,NaN,NaN,...,полный,2005,2760,2125,1610,150,134.6,14,153abbe97319ec1f68a41f88f861bd060533f87412b0eb...,docx
473,1716,"1716, 1843, 1851",0367100001217000008,1220000.00,1220000.00,1,1,1,NaN,NaN,...,передний,NaN,NaN,2135,2693,NaN,NaN,NaN,5515c7ebe0091c8aed81983cdcc6282cf2e74ac5d10908...,docx
474,2299,2299,0191300022017000003,1023996.67,1023996.67,1,1,1,NaN,NaN,...,передний,NaN,NaN,2125,1610,NaN,NaN,NaN,a7e4be81b28b55f231e058e37725ad271f78a7ff74d411...,docx

In [2160]:
final_2017 = pd.read_excel('2017_docx_final.xlsx',
                           dtype={'purchase_number': object})

In [2165]:
final_df_part17 =  final_df.loc[[ i in final_2017['purchase_number'].values for i in final_df['purchase_number']], :]

In [2169]:
final_df_partno17 =  final_df.loc[[ not(i in final_2017['purchase_number'].values) for i in final_df['purchase_number']], :]

In [2174]:
final_2017.shape
final_df_part17.shape

(336, 26)

In [2178]:
fdf1 = final_2017.set_index('purchase_number').loc[final_df_part17['purchase_number'].values, :]

In [2167]:
final_df_part17.shape
final_2017.shape

(475, 26)

In [2186]:
final_df_part17 = final_df_part17.set_index('purchase_number')

In [2181]:
fdf1.fillna(np.nan)

,index_name,all_indexes,price,real_price,auction,numb_bidders,kolichestvo_avto_v_zakupke,org_address,date,date2,...,privod,width,length,mass_snar,vol_dvigatelya,max_speed,moschnost_lps,potreb_gorod,filename,filetype
purchase_number,,,,,,,,,,,,,,,,,,,,,
0122300006117000102,204,"204, 469",1499000.00,1499000.00,1,1,1,NaN,NaN,NaN,...,полный,1815,4635,1650,1570,175,143,NaN,cf6ef33ee7aef1d8990d2c033b5634f0ad53d4d2dca04f...,docx
0866300029917000004,661,661,1858000.00,1774390.00,1,2,2,NaN,NaN,NaN,...,NaN,1900,4785,NaN,2700,150,134.6,11.5,a6dda03124f2f7600a28c1cdaebd6176dc4fc21a825e18...,docx
0332300263717000003,85,85,995000.00,995000.00,1,1,1,NaN,NaN,NaN,...,передний,1814,4658,NaN,1598,191,NaN,NaN,58da1c17ab74a34c1a816152c0443237eabd661b1fef89...,docx
0169300020317000031,666,"666, 1047",1500000.00,1500000.00,1,1,1,NaN,NaN,NaN,...,полный,1825,4850,NaN,1790,NaN,135,NaN,495d2406cde8a6b949494bc1c6d8a8ccf2f3aa4d603cc5...,docx
0357200013017000003,208,208,389900.00,382050.00,1,2,1,NaN,NaN,NaN,...,передний,1700,4260,1560,1590,177,106,8.6,a561a2bb65eec3da00337a27fe514dcbb58baa4f508951...,docx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0358100009717000007,1985,1985,1371600.00,1309878.00,1,2,3,NaN,NaN,NaN,...,передний,1700,4260,1560,1596,180,106,9,67a21b3d5aa8648789cae0f09c1d736aadde833edc7e87...,docx
0109200002417000196,638,638,1697000.00,1533515.00,1,2,1,NaN,NaN,NaN,...,передний,1525,2080,NaN,2494,NaN,181,11,0135a567824b22c28e119a286af5b1c86ed64e45563fe7...,docx
0130300009717000051,197,197,1500000.00,1485000.00,1,2,1,NaN,NaN,NaN,...,задний,1800,5200,2300,2490,200,not_stated,not_stated,a71c0008e904db9528fc2b6210ca189012d6c6c717fc8e...,docx
0169300061917000011,1241,1241,1700000.00,1608380.00,1,2,1,NaN,NaN,NaN,...,передний,1800,4800,NaN,NaN,NaN,NaN,NaN,cc1040d957a8985b7d050008b4c3610550d16ef899da8f...,docx
0859200001117002731,2003,2003,741333.33,741333.33,1,1,1,NaN,NaN,NaN,...,полный,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0f42ec184b3206373a17e59cb67f46e12cffaa7137b8fc...,docx

In [2188]:
final_df_part17 = final_df_part17.combine_first(fdf1)

In [2192]:
final_df_all17 = final_df_part17.reset_index().append(final_df_partno17, sort = False)

In [2193]:
final_df_all17.to_excel('data123.xlsx')

In [2269]:
final_df = final_df_all17.copy()

In [2217]:
final_df.columns[17]

'width'

In [2237]:
 [i == 'corolla' for i in final_df['model'].values]

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [ ]:
# final_df.loc[ , final_df.columns[17] ]

final_df.loc[~final_df['model'].isna(), :]['model'].unique().values()

In [2265]:
final_df.loc[~final_df['model'].isna(), :]['model'].unique()[1]

'granta'

In [2296]:
len(final_df.loc[[i == k for k in final_df['model'].values], final_df.columns[j] ].mode())

0

In [2298]:
for i in final_df.loc[~final_df['model'].isna(), :]['model'].unique():
    for j in range(17,24):
        
        if len(final_df.loc[[i == k for k in final_df['model'].values], final_df.columns[j] ].mode()) !=0:         
            final_df.loc[  [i == k for k in final_df['model'].values], final_df.columns[j] ] =  final_df.loc[[i == k for k in final_df['model'].values], final_df.columns[j] ].fillna(final_df.loc[[i == k for k in final_df['model'].values], final_df.columns[j] ].mode().values[0])

/home/xenakas/anaconda3/envs/geoplots3.6/lib/python3.6/site-packages/pandas/core/algorithms.py:881: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'float'
  warn("Unable to sort modes: {error}".format(error=e))
/home/xenakas/anaconda3/envs/geoplots3.6/lib/python3.6/site-packages/pandas/core/algorithms.py:881: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  warn("Unable to sort modes: {error}".format(error=e))

In [2300]:
final_df.to_excel('1345.xlsx')

# .loc[final_df['model'] == 'granta', final_df.columns[17]].mode().values[0]

In [2261]:
for j in range(17,24):
    
        
        final_df.loc[  [i == k for k in final_df['model'].values], final_df.columns[j] ] = final_df.loc[[i == k for k in final_df['model'].values], final_df.columns[j] ].fillna(final_df.loc[[i == k for k in final_df['model'].values], final_df.columns[j] ].mode())

/home/xenakas/anaconda3/envs/geoplots3.6/lib/python3.6/site-packages/pandas/core/algorithms.py:881: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  warn("Unable to sort modes: {error}".format(error=e))

In [2263]:
final_df.to_excel('1231245.xlsx')

In [2216]:
final_df.loc[final_df['model'] == 'corolla', 'width'].fillna(final_df.loc[final_df['model'] == 'corolla', 'width'].mode()[0])

3       1775.0
1409    1775.0
1451    1775.0
1534    1775.0
3472    1775.0
3735    1775.0
3982    1775.0
Name: width, dtype: float64

In [2199]:
final_df[final_df['model'] == 'corolla', 17].fillna(
    final_df.mode(final_df[final_df['model'] == 'corolla', 17]))

TypeError: '(0       False
1       False
2       False
3       False
4       False
        ...
4434    False
4435    False
4436    False
4437    False
4438    False
Name: model, Length: 4439, dtype: bool, 17)' is an invalid key

In [2198]:
final_df.mode()

,purchase_number,index_name,all_indexes,price,real_price,auction,numb_bidders,kolichestvo_avto_v_zakupke,org_address,date,...,privod,width,length,mass_snar,vol_dvigatelya,max_speed,moschnost_lps,potreb_gorod,filename,filetype
0,0101100000614000127,1,1,1500000.0,1500000.0,1.0,1.0,1.0,Москва,2016.0,...,передний,1700,4470,1560,1598.0,140,109,11,0003c2d0db5d1698a66c534ed31ff864a7b8428d66e118...,docx
1,0101100007116000134,4,10003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0009f56a74d4bea37e167edc3c889013d119fe2eab6da0...,NaN
2,0101200002315000434,6,10016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00198b58b5214f38767374a9af6692df96591dfe3dff98...,NaN
3,0101200002315000436,7,10019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0060a0b74a558a0db0f7ac4f122bd009d6f0a11e283629...,NaN
4,0101200002315000437,17,10021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0066214798c208456e062c300db82e35a2345834761f0e...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4434,1079200000416000001,25545,"9976, 9981",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ff9093d3287d24d09a95595fef9158214761f2bc2e0015...,NaN
4435,2001500000117000021,25546,9982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ffa373dc986e2214c109bbbfb8f5ee0bb93318b1a3f7d9...,NaN
4436,2061700000117000022,25581,9990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ffab2d4efef0a32db82ac8f193f815cc80cf8900a3c330...,NaN
4437,2065200000117000003,25582,9991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ffc52c3b2b589b670a838602d736e6aa9a41b973eb5481...,NaN
4438,2065200000117000004,25595,9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ffcf6e5e725fa656af31d168ca7aba5bb57bab2378e70f...,NaN

In [ ]:
df.fillna(df.mode().iloc[0])

In [2146]:
final_df['model'].unique()

array(['patriot', nan, 'corolla', 'x_trail', 'camry', '3163', 'hiace',
       'duster', 'twelve', 'chevrolet', 'solaris', 'sportage', 'transit',
       'jetta', '110', 'octavia', 'granta', 'mondeo', 'rio', 'optima',
       'rapid', 'logan', 'largus', 'bd_132j', 'kalina', '2170', 'cerato',
       'x-trail', 'veneno', 'terrano', 'almera', 'sandero', 'niva',
       'rav_4', 'pickup', 'polo', 'sentra', 'hunter', 'teana', 'fortwo',
       'focus', 'vesta', 'creta', 'tiguan', 'multivan', 'elantra',
       'sorento', 'hover', 'on_do', 'priora', 'superb', 'land', 'on-do',
       'xray', 'eighty_eight', 'corsa', '2129', 'i40', 'outlander',
       'cruiser', '390945'], dtype=object)

In [2149]:
final_df.iloc[:,17:24]

,width,length,mass_snar,vol_dvigatelya,max_speed,moschnost_lps,potreb_gorod
0,1900.0,4700.0,NaN,NaN,NaN,NaN,NaN
1,1750.0,4450.0,NaN,1598.0,165.0,NaN,NaN
2,NaN,NaN,NaN,1500.0,NaN,NaN,NaN
3,1775.0,4620.0,1260.0,1598.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4434,NaN,NaN,NaN,1598.0,NaN,NaN,NaN
4435,1700.0,NaN,1560.0,1596.0,NaN,NaN,NaN
4436,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4438,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2307]:
final_df.iloc[:,14:24].dropna(axis=0)

,god_vipuska,korobka,privod,width,length,mass_snar,vol_dvigatelya,max_speed,moschnost_lps,potreb_gorod
4,2016.0,МКПП,передний,1700,4260,1560,1590.0,177,106,8.6
5,2016.0,6МКПП,передний,1822,4315,1370,1998.0,180,143,11.3
7,2017.0,МКПП,передний,1466,4470,1260,1598.0,165,102,10.1
8,2016.0,АКПП,передний,1021,4346,1545,8980.0,172,90,9.8
22,2017.0,6АКПП,передний,1769,4500,1250,1595.0,185,110,not_stated
...,...,...,...,...,...,...,...,...,...,...
4392,2014.0,5МКПП,постоянный задний с жестко подключаемым передним,2100,4700,2125,2693.0,150,134.6,11.5
4400,2015.0,5МКПП,постоянный задний с жестко подключаемым передним,1900,4785,2125,2693.0,150,134.6,11.5
4421,2014.0,МКПП,полный,1770,4048,1410,1690.0,140,80,13.2
4426,2015.0,МКПП,полный,1770,4048,1410,1690.0,140,102,13.2
4435,2017.0,5МКПП,передний,1700,4260,1560,1596.0,167,118,9